{% extends "layout.twig" %}

{% block content %}


{% set is_home = function('is_home') %}
{% set is_front_page = function('is_front_page') %}
{% set is_singular = function('is_singular') %}
{% set is_search = function('is_search') %}

<h1 class="category_h1">{{ site.title }}</h1>

{% if site.page_vars.is_search and not site.page_vars.have_posts %}
	<center>{{ __('По вашему запросу ничего не найдено', 'template') }}</center>
{% endif %}

{% if site.page_vars.have_posts %}
	{% set posts = site.require_current_posts() %}
	{% for post in posts %}
		{% include ['pages/tease_'~post.post_type~'.twig', 'pages/tease.twig'] %}
	{% endfor %}
{% endif %}

{% include 'include/pagination.twig' %}

{% endblock %}