{% extends "layout.twig" %}

{% block content %}
	
	<article class="article article--{{ post.post_type }}" id="article_{{ post.ID }}">
	
		<h1 class="article__h1">
			{{ post.post_title }}
		</h1>
		<div class="article__body page_ckeditor_data">
			{{ post.post_content | raw }}
		</div>
		
	</article>
	
{% endblock %}