{% if site.breadcrumbs %}
	
	<nav class="breadcrumbs" itemscope="" itemtype="http://schema.org/BreadcrumbList">
		{% for item in site.breadcrumbs %}
			
			<div class='breadcrumbs__item {% if loop.last %}last{% endif %}' 
				itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem"
			>
				<a class='nolink' itemprop="item" href="{{ item['url'] }}">
					<span itemprop="name">{{ item['title'] }}</span>
				</a>
			</div>
			
			{% if not loop.last	%}
			<span class="breadcrumbs__item separator"> / </span>
			{% endif %}
			
			<meta itemprop="position" content="{{ loop.index }}" />
			
		{% endfor %}
	</nav>
	
{% endif %}