$grid_count: 12;
$font_size: 14px;
$font_family_title: sans-serif;
$font_family_text: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
$font_family: $font_family_text;

$width_site: 1140px;
$width_xsmall: 400px;
$width_small: 800px;
$width_medium: 1010px;
$width_large: 1200px;

$transition_in: 0.15s;
$transition_out: 0.15s;
$transition: 0.15s;
